# Tuples

#### 7.1 Creating and understanding tuples

In [1]:
T = ("red", "green", "blue", 1, 3, 4, [1, 2, 3])

In [2]:
type(T)

tuple

In [3]:
T[2]

'blue'

In [4]:
T[2] = "yellow"

TypeError: 'tuple' object does not support item assignment

##### Note: You can simple call the tuples as immutable lists

In [5]:
T[2][::-1]

'eulb'

In [6]:
T[-1]

[1, 2, 3]

In [7]:
T[-1] = T[-1] + [4 ,5 ,6]

TypeError: 'tuple' object does not support item assignment

In [8]:
T[-1][1] = "purple"

In [9]:
T

('red', 'green', 'blue', 1, 3, 4, [1, 'purple', 3])

### 7.2 Operations on Tuples

##### Operators: + * len in type isinstance del
The above operators will work similar to their operations on lists

##### What's not possible directly?

Adding and removing elements

Re-arranging -> sorting and reversing in-place

But you can use reversed() and sorted() because it doesnot attempt to change the original tuple

In [12]:
T

('red', 'green', 'blue', 1, 3, 4, [1, 'purple', 3])

In [14]:
tuple(reversed(T))

([1, 'purple', 3], 4, 3, 1, 'blue', 'green', 'red')

In [15]:
sorted(T)

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
T = ('red', 'green', 'blue', 1, 3, 4)

In [17]:
sorted(T)

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
sorted(T, key=str)

[1, 3, 4, 'blue', 'green', 'red']

In [19]:
T

('red', 'green', 'blue', 1, 3, 4)

##### Iteration using for and while loops

In [20]:
for item in T:
    print(item)

red
green
blue
1
3
4

In [21]:
i = 0
while i < len(T):
    print(T[i])
    i += 1

red
green
blue
1
3
4

### 7.3 How to actually change the contents of a tuple?

In [22]:
T = ("Hardik Kumar", 46, "Wipro", "Program Manager", "26 LPA")

##### Change the job title of Hardik Kumar

In [23]:
T[-2]

'Program Manager'

In [24]:
T[-2] = "Deliver Manager"

TypeError: 'tuple' object does not support item assignment

In [25]:
temp = list(T)

In [26]:
temp

['Hardik Kumar', 46, 'Wipro', 'Program Manager', '26 LPA']

In [27]:
temp[-2] = "Delivery Manager"

In [28]:
temp

['Hardik Kumar', 46, 'Wipro', 'Delivery Manager', '26 LPA']

In [29]:
T = tuple(T)

In [30]:
T

('Hardik Kumar', 46, 'Wipro', 'Program Manager', '26 LPA')

### 7.4 Unpacking

##### Applies lists and tuples

In [31]:
T

('Hardik Kumar', 46, 'Wipro', 'Program Manager', '26 LPA')

In [32]:
name, age, company, job, salary = T

In [33]:
print(name, age, company, job, salary)

Hardik Kumar 46 Wipro Program Manager 26 LPA

In [35]:
name, salary

('Hardik Kumar', '26 LPA')

In [36]:
L =  ['red', 'green', 'blue' ,'yellow']

In [37]:
a, b = L

ValueError: too many values to unpack (expected 2)

In [38]:
a, b, *x = L

In [39]:
a

'red'

In [40]:
b

'green'

In [41]:
x

['blue', 'yellow']

In [43]:
print(*x)

blue yellow