# Dictionaries

### 9.1 Creating and using a dictionary

In [1]:
D = {'name':'Ramesh', 'age':45, 'company': 'wipro', 'salalry':'15 LPA'}

In [2]:
type(D)

dict

In [ ]:
T = ("Ramesh", 45, 'wipro', '15 LPA')

##### Note: The key can only be a string or a number, the value can be anything: number, string, list, dictionary, function, etc

### 9.2 Modifying the Dictionary

In [3]:
D['name']

'Ramesh'

In [4]:
D['name'] = 'Anil'
D

{'name': 'Anil', 'age': 45, 'company': 'wipro', 'salalry': '15 LPA'}

In [5]:
D['addr']

KeyError: 'addr'

In [6]:
D['addr'] = 'J P Nagar, Bangalore'

In [7]:
D

{'name': 'Anil',
 'age': 45,
 'company': 'wipro',
 'salalry': '15 LPA',
 'addr': 'J P Nagar, Bangalore'}

In [8]:
D['dob'] = '19-08-1990'
D

{'name': 'Anil',
 'age': 45,
 'company': 'wipro',
 'salalry': '15 LPA',
 'addr': 'J P Nagar, Bangalore',
 'dob': '19-08-1990'}

In [9]:
D.pop('age')

45

In [10]:
D

{'name': 'Anil',
 'company': 'wipro',
 'salalry': '15 LPA',
 'addr': 'J P Nagar, Bangalore',
 'dob': '19-08-1990'}

In [11]:
D1 = {"wife":"Anita", "wage":41, "waddr":"J P Nagar, Bangalore", "wcomapny":"Oracle"}

In [12]:
D.update(D1)

In [13]:
D

{'name': 'Anil',
 'company': 'wipro',
 'salalry': '15 LPA',
 'addr': 'J P Nagar, Bangalore',
 'dob': '19-08-1990',
 'wife': 'Anita',
 'wage': 41,
 'waddr': 'J P Nagar, Bangalore',
 'wcomapny': 'Oracle'}

### 9.3 Important Functions

In [14]:
D.values()

dict_values(['Anil', 'wipro', '15 LPA', 'J P Nagar, Bangalore', '19-08-1990', 'Anita', 41, 'J P Nagar, Bangalore', 'Oracle'])

In [15]:
D.keys()

dict_keys(['name', 'company', 'salalry', 'addr', 'dob', 'wife', 'wage', 'waddr', 'wcomapny'])

In [16]:
D.items()

dict_items([('name', 'Anil'), ('company', 'wipro'), ('salalry', '15 LPA'), ('addr', 'J P Nagar, Bangalore'), ('dob', '19-08-1990'), ('wife', 'Anita'), ('wage', 41), ('waddr', 'J P Nagar, Bangalore'), ('wcomapny', 'Oracle')])

### 9.4 Examples

In [17]:
T = ( ('Raj', 1), ('Anil', 2))
dict(T)

{'Raj': 1, 'Anil': 2}

In [18]:
s = "mississippi"
# Create a charecter frequency data

In [19]:
H = {}
for ch in s:
    if ch in H.keys():
        H[ch] = H[ch] + 1
    else:
        H[ch] = 1
H

{'m': 1, 'i': 4, 's': 4, 'p': 2}

##### Create character count data for each of the words in the list

In [20]:
LS = ["apples", "cabbage", "radish", "zuccini"]
for s in LS:
    H = {}
    for ch in s:
        if ch in H.keys():
            H[ch] = H[ch] + 1
        else:
            H[ch] = 1
    print(H)

{'a': 1, 'p': 2, 'l': 1, 'e': 1, 's': 1}
{'c': 1, 'a': 2, 'b': 2, 'g': 1, 'e': 1}
{'r': 1, 'a': 1, 'd': 1, 'i': 1, 's': 1, 'h': 1}
{'z': 1, 'u': 1, 'c': 2, 'i': 2, 'n': 1}

In [21]:
LS = ["apples", "cabbage", "radish", "zuccini"]
HH = {}
for s in LS:
    H = {}
    for ch in s:
        if ch in H.keys():
            H[ch] = H[ch] + 1
        else:
            H[ch] = 1
    HH[s] = H
print(HH)

{'apples': {'a': 1, 'p': 2, 'l': 1, 'e': 1, 's': 1}, 'cabbage': {'c': 1, 'a': 2, 'b': 2, 'g': 1, 'e': 1}, 'radish': {'r': 1, 'a': 1, 'd': 1, 'i': 1, 's': 1, 'h': 1}, 'zuccini': {'z': 1, 'u': 1, 'c': 2, 'i': 2, 'n': 1}}

##### Given student string and scores string combine them into a dictionary

In [22]:
s = "rajesh,ramesh,anil,sunil"
m = "99,98,100,97"

In [29]:
ls = s.split(',')
lm = m.split(',')

ls, lm

(['rajesh', 'ramesh', 'anil', 'sunil'], ['99', '98', '100', '97'])

In [32]:
tt = (tuple(ls), tuple(lm))

(('rajesh', 'ramesh', 'anil', 'sunil'), ('99', '98', '100', '97'))

In [33]:
# Required ( ('rajesh', '99) , ... )

In [36]:
ttp = []
for i in range(len(ls)):
    ttp.append((ls[i], float(lm[i])))
ttp

[('rajesh', 99.0), ('ramesh', 98.0), ('anil', 100.0), ('sunil', 97.0)]

In [37]:
dict(ttp)

{'rajesh': 99.0, 'ramesh': 98.0, 'anil': 100.0, 'sunil': 97.0}

In [38]:
tt

(('rajesh', 'ramesh', 'anil', 'sunil'), ('99', '98', '100', '97'))

In [41]:
dict(zip(ls, lm))

{'rajesh': '99', 'ramesh': '98', 'anil': '100', 'sunil': '97'}

In [43]:
D

{'name': 'Anil',
 'company': 'wipro',
 'salalry': '15 LPA',
 'addr': 'J P Nagar, Bangalore',
 'dob': '19-08-1990',
 'wife': 'Anita',
 'wage': 41,
 'waddr': 'J P Nagar, Bangalore',
 'wcomapny': 'Oracle'}

In [44]:
DD = {}
for key, value in D.items():
    DD[value] = key
DD

{'Anil': 'name',
 'wipro': 'company',
 '15 LPA': 'salalry',
 'J P Nagar, Bangalore': 'waddr',
 '19-08-1990': 'dob',
 'Anita': 'wife',
 41: 'wage',
 'Oracle': 'wcomapny'}

##### Quick Test:

Input a text from the user
Output a dictionary which contains unique words in the text as keys and their lengths as values
Example: Input -> cat bat mat cat cat bat
         Output -> { 'cat':3, 'bat':3, 'mat':3 }

##### Quick Test:

Write a program to input come text from the user. Determine the number of occurance of vowels in the text
Example: Input -> "cabbage"
         Output -> {'a':2, 'e':1, 'i':0, 'o':0, 'u':0}