# User Defined Functions

### 10.1 Defining and using functions

##### Write a function for determining if a number is prime or not. The output should be True or False

In [12]:
# Function Definition
def checkprime(n):
    flag = True
    for i in range(2, n):
        if(n % i == 0):
            flag = False
            break
    return flag

In [4]:
# Function Call
checkprime(10)

False

In [3]:
checkprime(13)

True

##### Detect all the prime number between a given range

In [6]:
start = 100
end = 1000
primes = []
for n in range(start, end + 1):
    if(checkprime(n)): # checkprime(n) == True
        primes.append(n)
print(primes)

[101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

##### Detect the highest prime number below a specified number

In [8]:
max_value = 1000
for n in range(max_value, -1, -1):
    if(checkprime(n)):
        print(n)
        break

997

##### Exmaple to do a detailed test of a function

In [9]:
# Test plan: count the number of prime number in a given range
# Test case #1
# Test data = range(1, 11)
# Expected number of prime numbers in test range = 5
# Test the expected result with the obtained result

In [13]:
def testPrimes_testCase_01(start, end, expectedResult):
    count = 0
    for i in range(start, end):
        if(checkprime(i)):
            count += 1
    if(count == expectedResult):
        return "pass"
    else:
        return "fail"

In [16]:
testPrimes_testCase_01(1, 11, 5)

'pass'

### 10.2 Scope of variables

In [18]:
a = 10
def func():
    print(a)

func()

10

In [22]:
a = 10 # Global variable
def func():
    a = 5 # Local variable
    return a

def func1():
    return a

func(), func1()

(5, 10)

In [25]:
a = 10
def f1():
    #a = 5
    def f2():
        #a = 1
        return a
    return f2()

f1()

10

In [26]:
a = 10
def f1():
    a = 5
    def f2():
        nonlocal a
        return a
    return f2()
f1()

5

In [27]:
a = 10
def f1():
    a = 5
    def f2():
        global a
        return a
    return f2()
f1()

10

##### Note: You can return a function object

In [29]:
def getFunc(option):

    def odd(n):
        if(n%2!=0):
            return True
        else:
            return False

    def even(n):
        if(n%2==0):
            return True
        else:
            return False

    return odd if option == 1 else even

In [30]:
myfunc = getFunc(1)

In [31]:
myfunc

In [32]:
myfunc = getFunc(0)

In [33]:
myfunc

##### A function object is callable

In [34]:
myfunc(90)

True

In [35]:
myfunc(91)

False

### 10.3 Default Arguments

In [36]:
def fun(name, age):
    print("The name is {} and age is {}".format(name, age))

fun('Rajesh', 50)

The name is Rajesh and age is 50

In [37]:
fun('Rajesh')

TypeError: fun() missing 1 required positional argument: 'age'

In [38]:
def fun(name, age=17):
    print("The name is {} and age is {}".format(name, age))

fun('Rajesh')

The name is Rajesh and age is 17

### 10.4 Named Parameters

##### You have generally maintain the order of arguments while calling a function

In [39]:
fun("Raj", 45)

The name is Raj and age is 45

In [40]:
fun(45, "Raj")

The name is 45 and age is Raj

##### To overcome the problem mention the paramters with names in the form of key=value pairs

In [41]:
fun(age=29, name="Rajesh")

The name is Rajesh and age is 29

##### When you write the named parameters the order doesn't matter

### 10.5 Passing variable number of arguements

In [42]:
def average(a, b, c):
    return (a + b + c)/3

average(10, 20, 30)

20.0

##### How to use the above function to calculate average of 5, 6, 7 ... numbers?

##### Simple answer, you cannot use!

##### One way to solve the problem is to send the values as a list or a tuple

##### Otherwise use python construct that allow you to define functions with variable number of arguments

In [45]:
def func(*args):
    print(args)

In [46]:
func(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [47]:
def func(a, b, *args):
    print(a, b, args)

In [48]:
func(1, 2, 3, 4, 5)

1 2 (3, 4, 5)

In [53]:
def func(a, b, *args, **kargs):
    print(a, b, args, kargs)

In [54]:
func(1, 2, 3, 4, 5, name='Raj', age=45)

1 2 (3, 4, 5) {'name': 'Raj', 'age': 45}

##### Order of types of arguments should be maintained: individual arguments -> *args -> **kargs should be in the same sequence

In [55]:
def average(*values):
    return sum(values)/len(values)

average(1, 2, 3, 4)

2.5

In [56]:
average(23, 45, 56, 67, 87, 89)

61.166666666666664

##### Quick Test:

In [ ]:
Write a function that will input some numbers and return the min and max of the set of numbers as a tuple
Call   -> getMinMax(1, 2, 3, 4, 6)
Output -> (1, 6)

##### Quick Test:

Write a function that will take some text and convert that into a title

Call   -> makeTitle("mary had a little lamb")
Output -> Mary Had A Little Lamb

Test -> output.istitle() -> True

##### Quick Test:

##### Write a function that will encrypt/decrypt a given string with a key -> encrypt() and decrypt()

In [ ]:
Example Encryption: str => "apples" key => 5
        output => "ckksx"
Example Decryption: str => "ckksx" key => 5
        output => "apples"

a + 5 -> p
p + 6 -> q
p + 7 -> r
l + 8 -> s
e + 9 -> t
s + 10 -> u

pqrstu

### 10.6 Recursive Functions

##### The function that call themselves are called recursive functions

In [71]:
def recursive(n):
    print('Recursive step -> ', n)
    if(n == 1):
        return 1
    else:
        return str(n) + str(recursive(n - 1))

In [72]:
recursive(5)

Recursive step ->  5
Recursive step ->  4
Recursive step ->  3
Recursive step ->  2
Recursive step ->  1

'54321'

##### Application: calculate the factorial of a number using recursion

In [74]:
def factorial(n):
    if(n == 1):
        return 1
    else:
        return n * factorial(n - 1)

In [75]:
factorial(10)

3628800

##### Note: Recursion should be feasible to be implemented for a give solution

### 10.7 Binary Search Algorithm

##### Let's use the recursion for this problem solution

In [110]:
def binarySearch(arr, start, end, item):

    if start <= end:

        # calculate the middle value
        mid = (start + end) // 2
        #print("Current mid: ", mid, arr[mid])
        
        # check if the item is present in the middle itself
        if(arr[mid] == item):
            #print("Found ->", mid)
            return mid

        # if the item is less than the mid, item can only be present in the left
        # reset the end to point to mid and repeat the process
        elif arr[mid] > item:
            return binarySearch(arr, start, mid - 1, item)

        # if the item is greater than the mid, item can only be present in the right
        # reset the start to point to mid and repeat the process
        elif arr[mid] < item:
            return binarySearch(arr, mid + 1, end, item)

    else:
        return -1

In [111]:
testArray = [12, 14, 17, 35, 56, 78, 99]
target = 17

In [112]:
result = binarySearch(testArray, 0, len(testArray) - 1, target)
print(result)

2

##### Quick Test:

Find the nth Fibonacci number using recursion

Input -> 8
0 1 1 2 3 5 8 13 21 34 ...
Output -> 13

### 10.8 Insertion Sort

In [114]:
def insertionSort(arr):

    n = len(arr)

    if n <= 1:
        return

    # Iterate for n - 1 times: start from index = 1
    for i in range(1, n):

        # store the current element in temp
        temp = arr[i]

        # set the value for j -> supporting variable for going backwards
        j = i-1

        # Start comparing backwards until j reaches the 0th index and also until temp < arr[i] - while
        while j >= 0 and temp < arr[j]:
        
            # Shifting elements 
            arr[j + 1] = arr[j]
            j -= 1

        # Replace the array item by temp -> actual insert position
        arr[j + 1] = temp

In [115]:
L = [14, 89, 32, 18, 55]
insertionSort(L)

In [116]:
L

[14, 18, 32, 55, 89]