# Object Oriented Programming

### 12.1 Creating classes and objects

Let's create an employee class with the following attributes:
- name
- age
- company
- salary

#### Developer

In [90]:
class employee:

    # Class variable
    nemployees = 0 

    # Constructer, all the instance variable are mentioned
    def __init__(self, name, age): # args specified should be passed at the time of creating the object
        # instance variables
        self.name = name
        self.age  = str(age)
        self.company = ''
        self.salary = '0 INR'
        employee.nemployees += 1

    # functions or method -> member functions -> public interface
    def printinfo(self):
        template = "Name".ljust(10) + self.name + '|' + "Age".ljust(10) + self.age  + '|' + \
                   "Company".ljust(10) + self.company + '|' + "Salary".ljust(10) + str(self.salary)
        print(template)
        print(self)

    def updateinfo(self, field, value):
        if field in ['name', 'age', 'company', 'salary']:
            if field == 'name':
                self.name = str(value)
            elif field == 'age':
                self.age = str(value)
            elif field == 'company':
                self.company = str(value)
            else:
                if value.endswith(' INR') and value[ :-4].isdigit():
                    self.salary = value
                else:
                    print("Invalid value for salary")
        else:
            print("Invalid value for field")
            

    def calctax(self, pct):
        amount = float(self.salary.split()[0])
        newamount = amount - ((pct/100) * amount)
        self.salary = str(newamount) + ' INR'

#### User

In [68]:
e1 = employee("Rajesh", 40)
e2 = employee("Anil", 35)

In [69]:
e1

In [70]:
e2

In [71]:
e1.printinfo()

Name      Rajesh|Age       40|Company   |Salary    0 INR
<__main__.employee object at 0x000001FD4B651450>

In [72]:
e2.printinfo()

Name      Anil|Age       35|Company   |Salary    0 INR
<__main__.employee object at 0x000001FD4AE6F8D0>

In [73]:
e1.updateinfo('company', 'Wipro')
e1.updateinfo('salary', '1000000 INR')

In [74]:
s = '1000000 INR'
s[:-4].isdigit() and s.endswith(' INR')

True

In [75]:
e1.printinfo()

Name      Rajesh|Age       40|Company   Wipro|Salary    1000000 INR
<__main__.employee object at 0x000001FD4B651450>

In [76]:
e1.calctax(15)

In [77]:
e1.printinfo()

Name      Rajesh|Age       40|Company   Wipro|Salary    850000.0 INR
<__main__.employee object at 0x000001FD4B651450>

In [79]:
employee.nemployees, e1.nemployees, e2.nemployees

(2, 2, 2)

### 12.2 Inheritance

Extend the class with more properties and methods:
- phone number
- address
- dependent list

##### Syntax and behaviour for inheritence

In [80]:
class employee2(employee):
    pass

In [81]:
e3 = employee2('Sunil', 45)
e3.printinfo()

Name      Sunil|Age       45|Company   |Salary    0 INR
<__main__.employee2 object at 0x000001FD4B68C350>

##### Can we access the class variable?

In [83]:
e3.nemployees, e1.nemployees

(3, 3)

In [106]:
class extEmployee(employee):

    def __init__(self, name, age, company, phone='0000000000', addr=''):
        super().__init__(name, age)
        super().updateinfo('company', str(company))
        self.phone = phone
        self.addr  = addr
        self.dependents = []

    # method override - redefine the existing function
    def printinfo(self):
        print("NAME : {} ( {} )".format(self.name, self.age))
        print("-"*50)
        print("COMPANY    : ", self.company)
        print("SALARY     : ", self.salary)
        print("PHONE      : ", self.phone)
        print("ADDRESS    : ", self.addr)
        print("-"*50)
        print("DEPENDENTS : ", *self.dependents)

    def getDependents(self):
        return self.dependents

    def addDependent(self, value):
        if(isinstance(value, str)):
            self.dependents.append(value)

    def removeDependent(self, value):
        if value in self.dependents:
            self.dependents.remove(value)

    def setPhone(self, value):
        if(str(value).isdigit()):
            self.phone = value

    def setAddress(self, addr):
        if(type(addr) == str):
            self.addr = addr

In [107]:
e4 = extEmployee('Ram', 45, 'Oracle', '9876534534', 'Jayanagar, Bangalore')

In [108]:
e4.printinfo()

NAME : Ram ( 45 )
--------------------------------------------------
COMPANY    :  Oracle
SALARY     :  0 INR
PHONE      :  9876534534
ADDRESS    :  Jayanagar, Bangalore
--------------------------------------------------
DEPENDENTS :

In [109]:
e4.addDependent('Suresh')
e4.addDependent('Sunita')

In [110]:
e4.printinfo()

NAME : Ram ( 45 )
--------------------------------------------------
COMPANY    :  Oracle
SALARY     :  0 INR
PHONE      :  9876534534
ADDRESS    :  Jayanagar, Bangalore
--------------------------------------------------
DEPENDENTS :  Suresh Sunita

In [111]:
e4.updateinfo('salary', '2500000 INR')

In [112]:
e4.printinfo()

NAME : Ram ( 45 )
--------------------------------------------------
COMPANY    :  Oracle
SALARY     :  2500000 INR
PHONE      :  9876534534
ADDRESS    :  Jayanagar, Bangalore
--------------------------------------------------
DEPENDENTS :  Suresh Sunita

In [113]:
e4.calctax(13)

In [114]:
e4.printinfo()

NAME : Ram ( 45 )
--------------------------------------------------
COMPANY    :  Oracle
SALARY     :  2175000.0 INR
PHONE      :  9876534534
ADDRESS    :  Jayanagar, Bangalore
--------------------------------------------------
DEPENDENTS :  Suresh Sunita

In [115]:
extEmployee.nemployees

4

### 12.3 Polymorphism

In [116]:
e = e1

In [117]:
e.printinfo()

Name      Rajesh|Age       40|Company   Wipro|Salary    850000.0 INR
<__main__.employee object at 0x000001FD4B651450>

In [118]:
e = e4

In [119]:
e.printinfo()

NAME : Ram ( 45 )
--------------------------------------------------
COMPANY    :  Oracle
SALARY     :  2175000.0 INR
PHONE      :  9876534534
ADDRESS    :  Jayanagar, Bangalore
--------------------------------------------------
DEPENDENTS :  Suresh Sunita

##### Quick Test:

Create a student class with the following attributes and functions:

- name, age, class, marks a dictionary with phy, chem, math, bio, avg, rank
- printreport, updateMarks, calcAvg, assignRank

Extent the class to incorporate the following attributes:

- hobbies [], parents = { 'father':None, 'mother':'' }
- addHobby, removeHobby, updateParentsInfo

### 12.4 Design a Queue data structure

In [129]:
class queue:

    def __init__(self, maxSize):
        self.maxSize = maxSize
        self.ds = []

    def status(self):
        return len(self.ds)

    def push(self, item):
        if(self.status() < self.maxSize):
            self.ds.insert(0, item)
            return 1
        else:
            return -1

    def pop(self):
        if(self.status() != 0):
            return self.ds.pop()
        else:
            return -1

In [130]:
q = queue(10)

In [131]:
q.status()

0

In [132]:
for i in range(8):
    q.push(i**2)

In [133]:
q.status()

8

In [134]:
q.push(100)

1

In [135]:
q.push(200)

1

In [136]:
q.push(300)

-1

In [137]:
item = 1
while item != -1:
    item = q.pop()
    print(item)

0
1
4
9
16
25
36
49
100
200
-1

In [138]:
L = [1, 2, 3]
sum(L)

6